<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kiwi Gift Market</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AaronColacoAsp.NETProject.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav style="background-color: #235b73" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: white; font-weight:bolder" asp-area="" asp-controller="Home" asp-action="Index">Kiwi Gift Market</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a style="font-weight:bold;"class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-weight:bold;" class="nav-link text-light" asp-area="" asp-controller="Items" asp-action="Index">See Items</a>
                        </li>
                        @if(User.IsInRole("Admin")){
                        <li class="nav-item">
                            <a style="font-weight:bold;"  class="nav-link text-light" asp-area="" asp-controller="SalesData" asp-action="DatePicker">Admin Sales Data</a>
                        </li>
                        }

                        <li class="nav-item">
                            <a style="font-weight:bold;" class="nav-link text-light" asp-area="" asp-controller="Orders" asp-action="Index">My Orders</a>
                        </li>

                        <li>

                            <form class="Search" asp-action="Search" asp-controller="Items">

                                <input class="SearchTerm" name="SearchTerm" type="text" placeholder="Search An Item" />

                                <button type="submit" style="background: none; border: none; cursor: pointer;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" class="bi bi-search" viewBox="0 0 16 16">
      <path fill="#ffffff" d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
    </svg>
  </button>
                             

                            </form>


                            <style>
                                .Search {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1%;


        }

                                .SearchTerm {
            border-radius: 20px;
            border: 1px solid #ccc;
            padding: 10px;
      
       


            height: 3vh;
            opacity: 30;

        }
      
                            </style>


                        </li>
                    </ul>
                  
                    
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main style="height: fit-content" role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  
  
       
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
