@{
    ViewData["Title"] = "Home Page";
}


<section id="Heading">
<h1 id="MainTitle"> Kiwi Gift Market</h1>
<p class="Introduction">
        Here at Kiwi Market, we are passionate about all things gifts. You can enjoy shopping our range of 100% New Zealand products and enjoy free delivery on your order
        <br />  <br />



      <a asp-action="Index" asp-controller="Items">
        <button class="ShopNow"  asp-action="">  Shop Now !! </button> </a>
</p>

</section>

<section id="Gifts">

<div style="margin-left: 10%;">
    <h1 style="font-size: 3rem; margin-top: 5%;">Customise the perfect<br> Gift for a friend</h1>
</div>
    <Br /><Br />

<div>
<svg height="70vh" width="100%" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 0 512 512" xml:space="preserve">
<path class="ribbon" d="M379.931,19.548c-26.08-26.066-68.503-26.063-94.565-0.001C276.374,28.533,265.133,45.04,256,63.421 c-9.131-18.38-20.372-34.886-29.362-43.87c-26.066-26.067-68.49-26.068-94.573,0c-26.075,26.075-26.075,68.499,0,94.574 c14.649,14.65,44.887,32.01,70.338,40.382c1.686,0.554,3.45,0.837,5.225,0.837h41.729c2.302,0,4.556-0.495,6.638-1.397 c2.083,0.904,4.339,1.397,6.647,1.397h41.729c1.775,0,3.539-0.283,5.225-0.837c25.451-8.374,55.69-25.734,70.337-40.382 C406.008,88.051,406.008,45.627,379.931,19.548z M239.247,121.908h-28.853c-21.559-7.577-45.35-22.093-54.683-31.426 c-6.314-6.314-9.79-14.71-9.79-23.644c0-8.934,3.477-17.33,9.787-23.64c13.042-13.036,34.258-13.036,47.294,0 c13.669,13.659,36.282,55.458,36.282,77.339C239.282,121.034,239.27,121.49,239.247,121.908z M356.292,90.483 c-9.333,9.333-33.125,23.849-54.683,31.426h-28.855c-0.022-0.418-0.035-0.875-0.035-1.371c0-21.881,22.613-63.68,36.286-77.343 c13.032-13.032,34.248-13.03,47.287,0c6.313,6.314,9.79,14.71,9.79,23.644C366.083,75.773,362.604,84.169,356.292,90.483z"/><path class="ribbon" d="M256,63.421v90.529c2.082,0.903,4.337,1.395,6.643,1.395h41.729c1.775,0,3.539-0.283,5.225-0.837 c25.451-8.374,55.69-25.734,70.337-40.382c26.075-26.075,26.075-68.499-0.003-94.576c-26.08-26.066-68.504-26.063-94.565-0.001C276.375,28.533,265.133,45.04,256,63.421L256,63.421z M309.005,43.195c13.032-13.032,34.248-13.03,47.287,0c6.313,6.314,9.79,14.71,9.79,23.644s-3.477,17.33-9.79,23.644c-9.333,9.333-33.125,23.849-54.683,31.426h-28.855c-0.022-0.418-0.035-0.875-0.035-1.371C272.718,98.657,295.333,56.858,309.005,43.195z"/><path class="ribbon" d="M256,63.421v90.529c2.082,0.903,4.337,1.395,6.643,1.395h41.729c1.775,0,3.539-0.283,5.225-0.837 c25.451-8.374,55.69-25.734,70.337-40.382c26.075-26.075,26.075-68.499-0.003-94.576c-26.08-26.066-68.504-26.063-94.565-0.001C276.375,28.533,265.133,45.04,256,63.421L256,63.421z M309.005,43.195c13.032-13.032,34.248-13.03,47.287,0c6.313,6.314,9.79,14.71,9.79,23.644s-3.477,17.33-9.79,23.644c-9.333,9.333-33.125,23.849-54.683,31.426h-28.855 c-0.022-0.418-0.035-0.875-0.035-1.371C272.718,98.657,295.333,56.858,309.005,43.195z"/><path class="giftBox" d="M456.619,188.781H55.381c-9.228,0-16.718,7.49-16.718,16.718v256.346 c0,27.652,22.503,50.155,50.155,50.155h334.364c27.652,0,50.155-22.503,50.155-50.155V205.5 C473.337,196.271,465.847,188.781,456.619,188.781z"/><path class="giftBox" d="M456.619,188.781H256V512h167.182c27.652,0,50.155-22.503,50.155-50.155V205.5 C473.337,196.271,465.847,188.781,456.619,188.781z"/><path class="ribbon" d="M473.337,333.673H272.718V205.5c0-9.228-7.49-16.718-16.718-16.718s-16.718,7.49-16.718,16.718v128.173H38.663v33.436h200.619V512h33.436V367.109h200.619V333.673z"/><path class="ribbon" d="M272.718,512V367.109h200.619v-33.436H272.718V205.5c0-9.228-7.49-16.718-16.718-16.718V512H272.718z "/>
<path class="giftBox" d="M490.055,222.218H21.945c-9.233,0-16.718-7.485-16.718-16.718v-33.436 c0-27.655,22.499-50.155,50.155-50.155h401.237c27.655,0,50.155,22.499,50.155,50.155V205.5 C506.773,214.732,499.289,222.218,490.055,222.218z"/><path class="giftBox" d="M456.619,121.908H256v100.309h234.055c9.233,0,16.718-7.485,16.718-16.718v-33.436 C506.773,144.407,484.275,121.908,456.619,121.908z"/>
</svg>

</div>
    <p style="text-align: center; font-size: 1rem">
        When checking out click order as gift.<br> You can customise the colour of your box and ribbon and add a personalised message to the recpiant of the gift FREE for a limited time only.<br> birthday gifts or a great way to say thanks you can write out own message and have your order shipped right to recipent door step.<br /><br />


        <a asp-action="Index" asp-controller="Items">
            <button class="ShopNow" asp-action="">  Shop Now !! </button>
        </a>

    </p>
</section>


<section class="InfoBoxSection">

    <div class="InfoBoxes">
      

        <div class="Info">
            <h1>Order</h1>
            <svg viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#235b73"><g id="SVGRepo_bgCarrier" stroke-width="5"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7.2998 5H22L20 12H8.37675M21 16H9L7 3H4M4 8H2M5 11H2M6 14H2M10 20C10 20.5523 9.55228 21 9 21C8.44772 21 8 20.5523 8 20C8 19.4477 8.44772 19 9 19C9.55228 19 10 19.4477 10 20ZM21 20C21 20.5523 20.5523 21 20 21C19.4477 21 19 20.5523 19 20C19 19.4477 19.4477 19 20 19C20.5523 19 21 19.4477 21 20Z" stroke="#235b73" stroke-width="0.528" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </div>
        <div class="Info">
            <h1>Check Out</h1>
            <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" fill="235b73 stroke="235b73><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <defs> <style>.cls-1{fill:none;stroke:#a11bbb;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style> </defs> <g id="online-pay"> <line class="cls-1" x1="14.5858" x2="17.4142" y1="6.5858" y2="9.4142"></line> <line class="cls-1" x1="17.4142" x2="14.5858" y1="6.5858" y2="9.4142"></line> <circle cx="13.9935" cy="18.7232" r="1.0691"></circle> <circle cx="52.9935" cy="34.7232" r="1.0691"></circle> <line class="cls-1" x1="41.0008" x2="41.0008" y1="30.906" y2="41.7454"></line> <path class="cls-1" d="M11.7708,50H3.2354A2.1642,2.1642,0,0,1,1.02,47.8905V29.1059a2.1641,2.1641,0,0,1,2.215-2.1094H34.9182"></path> <line class="cls-1" x1="0.9914" x2="40.9786" y1="31.1117" y2="30.9699"></line> <line class="cls-1" x1="41" x2="1.0127" y1="37" y2="37.1417"></line> <line class="cls-1" x1="5.0339" x2="12.0338" y1="43.0974" y2="43.0726"></line> <line class="cls-1" x1="5.0445" x2="16.0444" y1="46.0974" y2="46.0584"></line> <path class="cls-1" d="M18,49.7436v-.8971A3.8465,3.8465,0,0,1,21.8465,45H28s2-5,9-4c6.2624.8946,6.1219,2.59,11.7509,2.9369"></path> <path class="cls-1" d="M34,48l-5,2H7.6177A1.6177,1.6177,0,0,0,6,51.6177H6a1.6177,1.6177,0,0,0,1.3654,1.5979L25,56l15-3,8.893,2.4254"></path> <circle cx="53" cy="46" r="1"></circle> <polyline class="cls-1" points="63 42 49 42 49 58 57 58 57 42.327"></polyline> <line class="cls-1" x1="57" x2="57" y1="56" y2="42.3271"></line> <line class="cls-1" x1="63" x2="57" y1="56" y2="56"></line> <circle class="cls-1" cx="42.9999" cy="21" r="10"></circle> <line class="cls-1" x1="47" x2="39" y1="16" y2="26"></line> <circle class="cls-1" cx="39.5" cy="17.5" r="1.5"></circle> <circle class="cls-1" cx="46.5" cy="24.5" r="1.5"></circle> </g> </g></svg>

        </div>
        <div class="Info">
            <h1>
                Delivery 

            </h1>
            <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" fill="#235b73" stroke="#235b73"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <defs> <style>.cls-1,.cls-2{fill:none;stroke:#235b73;stroke-linejoin:round;stroke-width:2px;}.cls-1{stroke-linecap:round;}</style> </defs> <g id="free-shipping"> <circle class="cls-1" cx="53" cy="17" r="2"></circle> <circle cx="45.5" cy="23.5" r="1.0691"></circle> <circle cx="16.5" cy="14.5" r="1.0691"></circle> <polyline class="cls-1" points="53.934 54 61 54 61 43.485 54 40 49.476 31 39.173 31"></polyline> <line class="cls-1" x1="20.6727" x2="44.1886" y1="54" y2="54"></line> <polyline class="cls-1" points="10.748 24 3 24 3 54 10.894 54"></polyline> <polyline class="cls-1" points="39 49 39 24 32.161 24"></polyline> <line class="cls-1" x1="43" x2="45" y1="44" y2="44"></line> <circle class="cls-1" cx="49.0802" cy="54.75" r="4.75"></circle> <circle class="cls-1" cx="15.7406" cy="54.75" r="4.75"></circle> <polyline class="cls-1" points="26 37 23 37 23 43 26 43"></polyline> <line class="cls-1" x1="26" x2="23" y1="40" y2="40"></line> <polyline class="cls-1" points="32 37 29 37 29 43 32 43"></polyline> <line class="cls-1" x1="32" x2="29" y1="40" y2="40"></line> <polyline class="cls-1" points="13 37 10 37 10 43"></polyline> <line class="cls-1" x1="13" x2="10" y1="40" y2="40"></line> <path class="cls-1" d="M16,43V37h2.6439A1.3562,1.3562,0,0,1,20,38.3561v.2878A1.3562,1.3562,0,0,1,18.6439,40H17l3,3"></path> <path class="cls-1" d="M31.5561,22.7505,27.623,17.8342a2.0742,2.0742,0,0,0-2.598-.5845,2.001,2.001,0,0,0-.5919,3l1.4,1.75H12.9946a2,2,0,0,0-2,2h0a2,2,0,0,0,2,2H25.8335l-1.317,1.6462a2.1129,2.1129,0,0,0,.2609,2.9407,2,2,0,0,0,2.7787-.3374l4-5A2,2,0,0,0,31.5561,22.7505Z"></path> <line class="cls-1" x1="33" x2="30" y1="7" y2="10"></line> <line class="cls-1" x1="30" x2="33" y1="7" y2="10"></line> <line class="cls-2" x1="39" x2="54" y1="40" y2="40"></line> <line class="cls-2" x1="3" x2="61" y1="50" y2="50"></line> </g> </g></svg>
        </div>
        <div class="Info">
            <h1>Enjoy</h1>
            <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" fill="#235b73" stroke="#235b73"> <path d="M55.6324,20.5A1.1324,1.1324,0,1,1,54.5,19.3676,1.1324,1.1324,0,0,1,55.6324,20.5Z"></path> <path d="M43.6324,11.5A1.1324,1.1324,0,1,1,42.5,10.3676,1.1324,1.1324,0,0,1,43.6324,11.5Z"></path> <path d="M29.6324,7.5A1.1324,1.1324,0,1,1,28.5,6.3676,1.1324,1.1324,0,0,1,29.6324,7.5Z"></path> <path d="M35.6324,4.5A1.1324,1.1324,0,1,1,34.5,3.3676,1.1324,1.1324,0,0,1,35.6324,4.5Z"></path> <path d="M12.6324,15.5A1.1324,1.1324,0,1,1,11.5,14.3676,1.1324,1.1324,0,0,1,12.6324,15.5Z"></path> <polyline class="cls-1" points="10 39.272 10 60 51 60 51 39.311"></polyline> <polygon class="cls-1" points="4 39 32 39 37 31 10 31 4 39"></polygon> <polygon class="cls-1" points="56 39 42 39 37 31 51 31 56 39"></polygon> <rect class="cls-1" height="5" rx="2.5" width="14" x="16" y="51"></rect> <line class="cls-1" x1="16" x2="23" y1="48" y2="48"></line> <line class="cls-1" x1="16" x2="19" y1="45" y2="45"></line> <path class="cls-1" d="M45.0677,26.26s.0089-4.4029,5.8934-5.4757"></path> <path class="cls-1" d="M19.7441,7.4887a5.6446,5.6446,0,0,1,2.5995,5.4077"></path> <path class="cls-1" d="M15,16s5,1,5,5"></path> <circle class="cls-1" cx="31.5" cy="18.5" r="6.5"></circle> <line class="cls-1" x1="34.0301" x2="29.0301" y1="15.9699" y2="20.9699"></line> <circle cx="29.53" cy="16.47" r="1.1323"></circle> <circle cx="33.53" cy="20.47" r="1.1323"></circle> <path class="cls-1" d="M7,22s8-1,11,4"></path> <path class="cls-1" d="M41,23s1-5,7-9"></path> <line class="cls-2" x1="37" x2="37" y1="60" y2="31"></line> </g>
                </g>
            </svg>
        </div>
    </div>
</section>

<section id="boxess">
  
    <div id="div2" class="colored-div">
        <h1>
            100%<br>
            New <br>
            Zealand <br>
            Premium<br>
            Products.
            <br />
            <br />
        </h1>
        <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <rect width="48" height="48" fill="white" fill-opacity="0.01"></rect> <path d="M24 20C28.4183 20 32 16.4183 32 12C32 7.58172 28.4183 4 24 4C19.5817 4 16 7.58172 16 12C16 16.4183 19.5817 20 24 20Z" fill="#6a99d7" stroke="#235b73" stroke-width="4" stroke-linejoin="round"></path> <path d="M24 20V38" stroke="#235b73" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M16 32H12L4 44H44L36 32H32" stroke="#235b73" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
    </div>
    <div id="div1" class="colored-div" style="background-color:#8a8a8a ">
        <h1 style="color: white;">
           Super<br />
           Wide <br /> 
           Range<br />
           100%    <br/>
           Local<br /> Products<br /><br />
        </h1>
        <svg fill="#235b73"height="200px" width="200px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="235b73"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css">
                                                                                                                                                                                                                                                                                                                                                                            .st0 {
                                                                                                                                                                                                                                                                                                                                                                                fill: #235b73;
                                                                                                                                                                                                                                                                                                                                                                            }
</style> <g> <path style="fill: #235b73" d="M447.77,33.653c-36.385-5.566-70.629,15.824-82.588,49.228h-44.038v37.899h40.902 c5.212,31.372,29.694,57.355,62.855,62.436c41.278,6.316,79.882-22.042,86.222-63.341C517.428,78.575,489.07,39.969,447.77,33.653z"></path> <path style="fill: #235b73" d="M162.615,338.222c0-6.88-5.577-12.468-12.468-12.468H96.16c-6.891,0-12.467,5.588-12.467,12.468 c0,6.868,5.576,12.467,12.467,12.467h53.988C157.038,350.689,162.615,345.091,162.615,338.222z"></path> <path style="fill: 235b73 class="st0" d="M392.999,237.965L284.273,340.452l-37.966,9.398v-86.619H0v215.996h246.307v-59.454l35.547-5.732 c16.95-2.418,29.396-6.692,44.336-15.018l46.302-24.228v104.432h132.435V270.828C504.927,202.618,428.016,202.43,392.999,237.965z M215.996,448.913H30.313v-155.37h185.683v63.805l-36.419,9.01c-15.968,4.395-25.708,20.518-22.174,36.696l0.298,1.247 c3.478,15.912,18.651,26.436,34.785,24.14l23.51-3.788V448.913z"></path> </g> </g></svg>
      
    </div>
    <div id="div3" class="colored-div">
        <h1 style="color: white;">
           
            Fast<br>
            Free<br>
            Delivery<br> Included in your purchase.<br />
        </h1>
        <svg fill="#235b73" viewBox="0 0 256.00 256.00" xmlns="http://www.w3.org/2000/svg" stroke="#235b73" stroke-width="5.632"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#0a84b8" stroke-width="16.896"> <path d="M78.424 228.77c-.178 1.087.505 1.617 1.525 1.186l51.823-21.958c1.02-.433 1.149-1.346.29-2.039l-13.124-10.58 63.836-86.902c.654-.89.282-1.612-.808-1.612H128l53.414-79.142c.616-.912.21-1.65-.883-1.65h-34.145c-1.103 0-2.423.794-2.939 1.754L92.4 123.004c-.52.97-.044 1.755 1.053 1.755h48.942c1.102 0 1.477.73.834 1.638l-41.005 57.873-13.127-9.535c-.895-.65-1.764-.301-1.943.792l-8.729 53.243z" fill-rule="evenodd"></path> </g><g id="SVGRepo_iconCarrier"> <path d="M78.424 228.77c-.178 1.087.505 1.617 1.525 1.186l51.823-21.958c1.02-.433 1.149-1.346.29-2.039l-13.124-10.58 63.836-86.902c.654-.89.282-1.612-.808-1.612H128l53.414-79.142c.616-.912.21-1.65-.883-1.65h-34.145c-1.103 0-2.423.794-2.939 1.754L92.4 123.004c-.52.97-.044 1.755 1.053 1.755h48.942c1.102 0 1.477.73.834 1.638l-41.005 57.873-13.127-9.535c-.895-.65-1.764-.301-1.943.792l-8.729 53.243z" fill-rule="evenodd"></path> </g></svg>
    </div>

   <section/>



<style>
    @@media only screen and (max-Width: 800px) {
            #Heading {
                margin-top: -3%;
                width: 100%;
                height: 80vh;
                background-color: #235b73
            }


            .colored-div {
                width: 85%;
                margin-left: 5%;
                margin-right: 5%;
                margin-top: 8%;
              
               
            }

            .InfoBoxSection {
                height: 70vh;
                width: 100%;
            }

            #boxess {
                display: block;
                align-self: center;
                margin: auto;
               
            }

            .InfoBoxes {
                display: grid;
                grid-column-gap:10%;
                grid-template-columns: 40% 40%;
                grid-template-rows: 30%, 30%;
                margin-top: 20%;
                margin-left:10%;

            }
     
}
    @@media only screen and (min-Width: 800px) {
        #Heading {
            margin-top: -3%;
            padding-top: 2.5%;
            width: 100%;
            height: 40vh;
            background-color: #235b73;
        }

            .InfoBoxes {
                display: grid;
                grid-template-columns: 20% 20% 20% 20%;
                height: 60%;
                gap: 3%;
                row-gap: 10%;
                margin-left: 10%;
            }

            .Info {
                height: 100%;
                width: 100%;
                border-radius: 28px;
      
            }

            .InfoBoxSection {
                height: 50vh;
                width: 100%;
            }

            #boxess {
                display: grid;
                grid-template-columns: 30% 30% 30%;
                margin: auto;
                margin-left: 10%;
                margin-right: 5%;
            }

            .colored-div {
                height: 86vh;
                width: 90%;
                margin: auto;
                padding: 10%;
                box-sizing: border-box;
                border-radius: 28px;
            }
    }


    .container{
        padding:0;
        max-width: 100%;
    }
    .Introduction{
            margin-top: 4%;
        font-size: 1.6rem;
        text-align: Center;
        margin: auto;
        color: white;
    }
   
 
   
    	  .ShopNow{
			color: white;
		   background-color: #7da2c5;
			font-size: 19px;
			border: 1px solid #2d63c8;
			border-radius: 28px;		
            height: 5vh;
		}

        .ShopNow:hover {
			color: 235b73;
			background-color: lightgreen;
		}

    #MainTitle{
        margin-top: 10%;
        font-size: 6rem;
        text-align:Center;
        margin: auto;
        color:white;
    }

    
 .ribbon{
fill: rgb(84, 156, 39);
animation-name: ColourChangeRibbon;
animation-duration: 30s;
animation-iteration-count: infinite;
}
.giftBox{
fill: rgb(31, 36, 49);
animation-name: ColourChnageBox;
animation-duration: 30s;
animation-iteration-count: infinite;
}
.giftImage{
margin-top: 0;

}
#Gifts{

height: 120vh;
width: 100%;
}

 @@keyframes ColourChangeRibbon{
0% {
fill: #f29c97;
}
25% {
fill: #76c177;
}
50% {
fill: #ba3636;
}

60%{

}
75% {
fill: #be2e11;
}
100% {
fill: #e89a1b;
}
}

@@keyframes ColourChnageBox {
0% {
fill: #76c177;
}
25% {
fill: #1d2320;
}
50% {
fill: #9590d2;
}

60%{

}
75% {
fill: #b0a9e5;
}
100% {
fill: #c384a1;;
}
}

   

        .colored-div {
            height: 86vh;
            width: 90%;
            margin: auto;
            margin-bottom:3%;
          
            padding: 10%;
            box-sizing: border-box;
            border-radius: 28px;
            font-weight: bolder;
            
        }



        #div1 {
            background-color: rgb(208, 201, 219);
        }

        #div2 {
            background-color: rgb(226, 224, 228);
            overflow: hidden;
        }

        #div3 {
            background-color: rgb(0, 0, 0)
        }

        #div4 {
            background-color: rgb(180, 234, 205);
        }
</style>
