@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>@ViewBag.OrderId</h1>


<form asp-controller="Orders" asp-action="ProcessOrder">

    <h1>Please Enter Your Details</h1>


    <label for="FullName">Enter Your Full Name</label>
    <input name="FullName" />
    <br>
    <label for="PhoneNumber ">Enter Your Phone Number</label>
    <input name="PhoneNumber" />

    @ViewBag.OrderId
    <div id="GiftDetials">

        <input name="OrderId" value="@ViewBag.OrderId"/>

        <h1>
            Would You like To make this a gift
        </h1>


        <label for="RecipeintName">Enter Your  Gift Recipeint Name</label> 
        <input name="RecipientName"/> <br>
        <label for="BoxColour">Pick Gift Box Colour</label>
        <input name="BoxColour" type="color" value="#ff0054"/><br>
        <label for="RibbionColour">Pick Gift Ribbon Colour</label>
        <input name="RibbionColour" type="color" value="" #ff0054" /><br>
        <label for="GiftMEssage">Add a card with a personalized message to your gift</label>
        <input name="GiftMessage" type="text" /><br>
     
        <label for="RibbionColour">Enter Recipients Phone number</label>
        <input name="RecipientPhone" /><br>
    </div>

    <h1>Delviery information If you are gifitng this order, please type detials of Recipeint</h1>

    <label for="Address">Delivery Address</label>
    <input name="DeliveryAddress" /> <br>
    <label for="City">City</label>
    <input name="City" /><br>
    <label for="PostalCode">Postal Code</label>
    <input name="PostalCode"<br>

    <input type="submit" />

</form>