@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>@ViewBag.OrderId</h1>


<form> 

<h1>Please Enter Your Details</h1>


    
<input name="FullName"/>

<input name="PhoneNumber" />

 <h1>
     Would You like To make this a gift 


 </h1>


 <input name ="RecipeintName"/>
 <input name="BoxColour" type="color" />
 <input name="Ribbion Colour" type="color" />
 <input name="GiftMessage" type="text" />
 <input name="RecipientPhone" />


 <h1>Delviery information If you are gifitng this order, please type detials of Recipeint</h1>

 <input name="Delivery Adress" />
 <input name="city"/>
 <input name="PostalCode"

</form>